/* src/styles/Welcome.css */
.welcome-container {
    background-color: #ffffff; /* White background for the form */
    padding: 30px;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    width: 500px; /* Fixed width */
  }
  
  .welcome-form {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
  }
  
  .name-input {
    padding: 10px;
    margin-bottom: 10px; /* Space between input and button */
    border: 1px solid #ccc; /* Border for input */
    border-radius: 4px; /* Rounded corners */
    font-size: 16px; /* Font size */
  }
  
  .submit-button {
    padding: 10px;
    background-color: #007bff; /* Bootstrap primary color */
    color: white; /* White text */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor */
    font-size: 16px; /* Font size */
  }
  
  .submit-button:hover {
    background-color: #0056b3; /* Darker shade on hover */
  }

  .image{
    width: 80%;
    border-radius: 50%;
    height: 80%;
    box-shadow: 0 4px 8px blueviolet;
    border: 1px solid blueviolet;
    padding-bottom: 5rem;
    background-color: lightslategray;
    margin-bottom: 2rem;
  }

  h4{
    color: rgb(100, 122, 247);
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }
  @media screen and (max-width: 768px) {

    .image{
      width: 60%;
      border-radius: 50%;
      height: 60%;
      padding-bottom: 5rem;
      margin-bottom: 2rem;
    }  

    .welcome-container {
      width: 240px;
      box-shadow: 0 4px 8px rgba(182, 3, 3, 0.1);
    }
    h4{
      font-size: 0.6rem;
    }

    .name-input {
      font-size: 12px;
      padding: 6px;
      border: 1px solid blueviolet
    }
    
  }